.footer {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 11px;
  text-transform: lowercase;
}

.footer__text {
  color: gray;
}
