.Footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-n) 0;
  border-top: var(--border-secondary);
  margin-top: var(--size-n);
  font-size: var(--font-size-secondary);
  text-transform: lowercase;

  &-Text {
    color: var(--color-secondary);
  }
}
