.Footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  font-size: 11px;
  text-transform: lowercase;

  &-Text {
    color: #808080;
  }
}
