{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "globals": {
    "process": true
  },
  "rules": {
    "curly": ["error", "all"],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none",
        "ignoreRestSiblings": false,
        "argsIgnorePattern": "^_"
      }
    ],
    "no-restricted-syntax": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "webpack.*.js",
          "postcss.config.js",
          "**/*.story.jsx"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": [],
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "unknown"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "server/**/*",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "shared/**/*",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "client/**/*",
            "group": "internal",
            "position": "before"
          }
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "overrides": [
    {
      "files": "./server/**/*.js",
      "env": {
        "node": true,
        "browser": false
      },
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["./client/**/*.js", "*.jsx"],
      "env": {
        "node": false,
        "browser": true
      }
    }
  ]
}
