@import '../../styles/variables';
@import '../../styles/mixins';

.ErrorInfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &-StatusCode {
    @include heading-bold;

    color: #374757;
  }

  &-Title {
    @include title-regular;

    margin-top: $gap-8;
  }

  &-Message {
    margin-top: $gap-12;
    color: $color-text-secondary;
  }
}
