.Header {
  padding: var(--size-xl) 0 30px;
  border-bottom: var(--border-secondary);

  &-Top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--size-xl);

    @media (max-width: $screen-size-phone) {
      flex-flow: column nowrap;
    }
  }

  // todo: happens because of "sideEffects" field
  & &-PhoneButton {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    @media (max-width: $screen-size-phone) {
      margin-bottom: var(--size-xm);
    }
  }

  &-PhoneIcon {
    margin: 0 var(--size-xn);
  }

  &-SignInIcon {
    margin-right: var(--size-xn);
  }
}
