@import '../../styles/utils/mixins';

.Shade {
  position: relative;
  height: 100%;

  > * {
    @include absolute();
  }

  &-Shadow {
    background-image: linear-gradient(
      to top,
      var(--shade-color, var(--color-background)),
      transparent var(--shade-size, 50%)
    );
    pointer-events: none;
  }
}
