@import '../../styles/utils/mixins';

.Shade {
  position: relative;

  &-Shadow {
    @include absolute();

    background-image: linear-gradient(
      var(--shade-direction, to top),
      var(--shade-color, var(--color-background)),
      transparent var(--shade-size, 50%)
    );
    opacity: var(--shade-opacity, 1);
    pointer-events: none;
  }
}
