$component: 'Button';

.#{$component} {
  --button-text-active-color: var(--color-background);

  @extend %button-reset;

  display: inline-block;
  border: var(--size-xxs) solid var(--button-border-color);
  border-radius: var(--size-xn);
  transition-duration: var(--transition-duration);
  transition-property: background-color, box-shadow, color, border;
  transition-timing-function: ease-out;

  &_primary,
  &:hover {
    background-color: var(--button-background-color);
  }

  // todo: happens because of "sideEffects" (maybe this is not a problem)
  &.#{$component} {
    color: var(--color-primary);

    &_primary,
    &:hover,
    &:active {
      color: var(--button-text-active-color);
    }
  }

  &:hover {
    box-shadow: 0 2px 4px var(--button-shadow-color);
  }

  &:active {
    border-color: transparent;
    background-color: var(--button-active-color);
    box-shadow: none;
  }

  &_size {
    &_xm {
      padding: var(--size-xs) var(--size-xm);
    }

    &_m {
      padding: var(--size-s) var(--size-m);
    }

    &_l {
      padding: var(--size-xn) var(--size-l);
    }

    &_xl {
      padding: var(--size-n) var(--size-xl);
    }

    @each $size in $sizes {
      &_#{$size} {
        font-size: var(--size-#{$size});
        line-height: var(--size-#{$size});
      }
    }
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_theme {
    &_clear {
      --button-border-color: var(--color-secondary-lighter);
      --button-shadow-color: var(--color-secondary-light);
      --button-background-color: var(--color-background);
      --button-active-color: var(--color-secondary-light);
      --button-text-active-color: var(--color-primary);

      &:hover {
        --button-border-color: transparent;
      }
    }

    &_action {
      --button-border-color: var(--color-action);
      --button-shadow-color: var(--color-action-dark);
      --button-background-color: var(--button-border-color);
      --button-active-color: var(--color-action-light);
    }

    &_control {
      --button-border-color: var(--color-control);
      --button-shadow-color: var(--color-control-dark);
      --button-background-color: var(--color-control);
      --button-active-color: var(--color-control-light);
    }
  }
}
