%full-width {
  margin: 0 calc(-1 * var(--main-offset));
}

%link-reset {
  color: var(--color-primary);
  text-decoration: none;
}

%button-reset {
  border: unset;
  background-color: var(--color-background);
  cursor: pointer;
  outline: none;
}
