:root {
  --color-primary: #000;
  --color-secondary: #808080;
  --color-secondary-light: #d3d3d3;
  --color-secondary-lighter: #b9b9b9;
  --background-primary: #fff;
  --size-xxs: 1px;
  --size-xs: 2px;
  --size-s: 4px;
  --size-xn: 6px;
  --size-n: 8px;
  --size-xm: 10px;
  --size-m: 12px;
  --size-l: 16px;
  --size-xl: 20px;
  --size-xxl: 24px;
  --font-size-secondary: 11px;
  --border-secondary: var(--size-xxs) solid var(--color-secondary);
  --main-offset: var(--size-m);
}
