:root {
  --color-primary: #000;
  --color-background: #fff;
  --color-control: #0059ff;
  --color-control-light: #008cff;
  --color-control-dark: #002499;
  --color-secondary: #808080;
  --color-secondary-lighter: #b9b9b9;
  --color-secondary-light: #d3d3d3;
  --color-action: #4dd100;
  --color-action-light: #68ff24;
  --color-action-dark: #3c8610;
  --color-inactive: #b7b7b7;
  --size-xxs: 1px;
  --size-xs: 2px;
  --size-s: 4px;
  --size-xn: 6px;
  --size-n: 8px;
  --size-xm: 10px;
  --size-m: 12px;
  --size-l: 16px;
  --size-xl: 20px;
  --size-xxl: 24px;
  --border-secondary: var(--size-xxs) solid var(--color-secondary);
  --main-offset: var(--size-m);
  --transition-duration: 0.1s;
  --transition-duration-slower: 0.2s;
  --box-shadow-primary: 0 0 4px var(--color-secondary-light);
  --box-shadow-hovered: 0 0 20px var(--color-secondary-lighter);
}
