@import '../../styles/utils/mixins';

.Link {
  @extend %link-reset;

  cursor: pointer;

  &_theme_default {
    color: var(--color-control);

    &:hover,
    &:focus {
      color: var(--color-control-light);
      text-decoration: underline;
    }
  }
}
