.Logo {
  font-size: 40px;
  font-weight: bold;
  text-align: center;

  &-Text {
    display: block;

    &_style {
      &_sub {
        color: #808080;
        font-size: 30px;
      }
    }
  }
}
