@use '../../styles/utils/mixins';

.CategoryCard {
  @extend %link-reset;

  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  height: 140px;
  flex-flow: column nowrap;
  margin: var(--size-xm);
  border-radius: 10px;
  box-shadow: var(--box-shadow-primary);
  cursor: pointer;
  transition: box-shadow var(--transition-duration-slower) ease-out;

  &:hover {
    box-shadow: var(--box-shadow-hovered);
  }

  &-ImageContainer {
    position: relative;
    flex: 1;

    > * {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-Image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-Paranja {
    background-image: linear-gradient(
      to bottom,
      transparent 50%,
      var(--color-background)
    );
  }

  &-Name {
    display: inline-block;
    margin: var(--size-xm);
  }
}
