@import '../../styles/mixins';

.CategoryCard {
  @extend %link-reset;

  border-radius: 10px;
  box-shadow: var(--box-shadow-primary);
  cursor: pointer;
  transition: all var(--transition-duration) ease-out,
    box-shadow var(--transition-duration-slower) ease-out;

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-hovered);
  }

  &-Name {
    display: inline-block;
    margin: var(--size-xm);
  }
}
