@import '../../styles/mixins';

.CategoryPage {
  &_empty {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  &-HomeButton {
    margin-top: var(--size-m);
  }

  &-Categories {
    @extend %full-width;

    margin-top: var(--size-xl);
  }
}
