.Header {
  padding: var(--size-xl) 0 30px;
  border-bottom: var(--border-secondary);

  &-Top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--size-xl);
  }

  &-PhoneButtonText {
    font-size: var(--size-m);
    line-height: var(--size-m);
    text-transform: uppercase;
  }

  &-PhoneIcon {
    margin: 0 var(--size-xn);
  }

  &-SignInIcon {
    margin-right: var(--size-xn);
  }
}
