.Header {
  padding: var(--size-xl) 0 30px;
  border-bottom: var(--border-secondary);

  &-Top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: var(--size-xl);
  }

  &-ButtonText {
    margin-right: var(--size-xn);
    text-transform: uppercase;
  }

  &-Phone {
    font-weight: bold;
  }
}
