.layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding-top: 40px;
}

.layout__top-splitter {
  margin-bottom: 20px;
}

.layout__bottom-splitter {
  margin-top: 20px;
}

.layout__logo {
  margin-bottom: 30px;
}

.layout__content {
  flex: 1;
}
