.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.product {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 300px;
  height: 140px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px #d3d3d3;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.product:hover {
  box-shadow: 0 0 20px #b9b9b9;
}
.product__image {
  flex: 1;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.product__name {
  display: inline-block;
  margin: 10px;
}
